.text{ font-family: "Edu VIC WA NT Hand", cursive;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  color: white;}
div{
  width: 50%;
    margin-left: 25%;
    background-color: black;
}
.images{border: 5px solid white;
    width:100%;

}
h1{text-transform: capitalize;}
